<% provide :title, t("title.login") %>
<h1 class="text-align: center"><%= t "title.login" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password, t("activerecord.attributes.user.password") %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.submit t("views.signIn.submit"), class: "btn btn-primary" %>
    <% end %>
    <p><%= t "views.signIn.newUser" %> <%= link_to t("views.signIn.signUpNow"), signup_path %></p>
  </div>
</div>
