<h1><%= t "mail.resetPass.subject" %></h1>
<p><%= t "mail.resetPass.body.p1" %></p>
<%= link_to t("mail.resetPass.resetText"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "mail.resetPass.body.p2" %></p>
<p><%= t "mail.resetPass.body.p3" %></p>
