<% provide :title, t("title.signup") %>
<h1 style="text-align: center"><%= t "title.signup" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "shared/error_messages" %>
    <%= form_for @user, url: signup_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, t("activerecord.attributes.user.confirmation") %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit t("views.signup.createButton"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
