<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.default.avatarSize), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.image.attached? %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>
  <span class="timestamp">
    <%= t "views.feed.timestamp", time: time_ago_in_words(micropost.created_at) %>
    <% if current_user? micropost.user %>
      <%= link_to t("views.feed.delete"), micropost, data: { "turbo-method": :delete, turbo_confirm: t("views.feed.confirm") } %>
    <% end %>
  </span>
</li>
